.body {
  background-color: black;
}

.Home {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(NightCity.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.Hero-image {
  position: fixed;
  display: flex;
  top: auto;
  left: auto;
  width: 42vmin;
  height: 42vmin;
  border-radius: 50%;
  cursor: pointer;
}

.Hero-loader {
  position: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;

  top: auto;
  left: auto;

  border: 0.5em solid #000080;
  border-top: 0.5em solid black;
  border-bottom: 0.5em solid black;
  border-radius: 50%;

  width: 42vmin;
  height: 42vmin;
  animation: spin 30s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Menu {
  position: relative;
  width: 42vmin;
  height: 42vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  display: block;
  position: absolute;
  top: 51%;
  left: 51%;
  width: 10vmin;
  height: 10vmin;
  padding: 2vmin;
  margin: -17.5%;
  background: white;
  border-radius: 51%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.deg-0 {
  border: 0.5em solid black;
  border-top: 0.3em solid white;
  border-bottom: 0.3em solid white;
  border-radius: 50%;
  transform: rotate(210deg) translate(42vmin) rotate(-210deg);
}

.deg-90 {
  border: 0.5em solid black;
  border-top: 0.3em solid white;
  border-bottom: 0.3em solid white;
  border-radius: 50%;
  transform: rotate(330deg) translate(42vmin) rotate(-330deg);
}

.deg-180 {
  border: 0.5em solid black;
  border-top: 0.3em solid white;
  border-bottom: 0.3em solid white;
  border-radius: 50%;
  transform: rotate(30deg) translate(42vmin) rotate(-30deg);
}

.deg-270 {
  border: 0.5em solid black;
  border-top: 0.3em solid white;
  border-bottom: 0.3em solid white;
  border-radius: 50%;
  transform: rotate(150deg) translate(42vmin) rotate(-150deg);
}

.ProjectsPage {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: black;
}
